body,html{
  margin:0;
  padding:0;
  width:100%;
  height:auto;

}
#banner{
  position:relative;
  width:100% !important;
}
#content_first{
  background-color: #FDF6DA;

}
#content_second{
  background-color: #F5DEB3;
}
#content_third{
  background-color: #FDF6DA;
}
#brother_first{
  position: relative !important;
  margin: 0 auto !important;
}
.placeholder_first{

  background-image:url("../img/placeholder.png");
  height:500px;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;

}

@media (min-width: 990px) and (max-width: 1800px){
  .vcenter {
      display: inline-block;
      vertical-align: middle;
      float:none;
  }
  .row{
    position:relative;
    height:100%;
  }
  .container{
      position:relative;
    height:750px;
    width:100%;
  }
  #content_third{
    height: auto !important;
  }
}

.divHelper{
  height:100% !important;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 990px)  {
  .vcenter {
      display: inline-block;
      float:none;
  }
  .row{
    padding-top:100px !important;
    padding-bottom:100px !important;
    height: auto;
  }
  .container{
    height:auto !important;
      width:100%;
  }
}
